# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui
print(f'Matemática: {(df_mat["Qt_acertos"].sum() / (24 * 100)):.2%}')
print(f'Português: {(df_por["Qt_acertos"].sum() / (18 * 100)):.2%}')
print(f'Geografia: {(df_geo["Qt_acertos"].sum() / (8 * 100)):.2%}')
print(f'Inglês: {(df_ing["Qt_acertos"].sum() / (8 * 100)):.2%}')
print(f'História: {(df_his["Qt_acertos"].sum() / (8 * 100)):.2%}')
print(f'Física: {(df_fis["Qt_acertos"].sum() / (12 * 100)):.2%}')
print(f'Química: {(df_qui["Qt_acertos"].sum() / (12 * 100)):.2%}')

Matemática: 49.38%
Português: 40.17%
Geografia: 42.00%
Inglês: 47.62%
História: 45.00%
Física: 44.33%
Química: 45.25%

In [3]:
# 2) Seu código aqui
df = pd.DataFrame()
df['Matemática'] = df_mat["Qt_acertos"]
df['Português'] = df_por["Qt_acertos"]
df['Geografia'] = df_geo["Qt_acertos"]
df['Inglês'] = df_ing["Qt_acertos"]
df['História'] = df_his["Qt_acertos"]
df['Física'] = df_fis["Qt_acertos"]
df['Química'] = df_qui["Qt_acertos"]
df['Total_Acertos'] = (df['Matemática'] + df['Português'] + 
                       df['Geografia'] + df['Inglês'] + 
                       df['História'] + df['Física'] + 
                       df['Química'])
df.head(10)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30
5,20,2,5,3,2,9,9,50
6,6,0,7,7,5,0,4,29
7,18,4,4,7,7,1,8,49
8,22,9,2,7,6,5,7,58
9,10,6,3,6,4,8,2,39

In [4]:
# 3) Seu código aqui
Qt_acertos_total = 24 + 18 + 8 + 8 + 8 + 12 + 12

df['Total_Acertos_%'] = round((df['Total_Acertos'] / 90 * 100), 2)
df.head(10)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
3,10,7,3,4,0,0,8,32,35.56
4,7,2,2,7,0,9,3,30,33.33
5,20,2,5,3,2,9,9,50,55.56
6,6,0,7,7,5,0,4,29,32.22
7,18,4,4,7,7,1,8,49,54.44
8,22,9,2,7,6,5,7,58,64.44
9,10,6,3,6,4,8,2,39,43.33

In [5]:
# 4) Seu código aqui
df[df['Total_Acertos'] > 45].index.nunique()

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# 1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. 
#    Monte um novo DataFrame com os alunos desqualificados por este critério.
#df_copy = df.copy()
#
#df_copy['Desqualificado'] = 0
#
#df_copy.loc[df_copy['Matemática'] == 0, 'Desqualificado'] = 1
#df_copy.loc[df_copy['Física'] == 0, 'Desqualificado'] = 1
#df_copy.loc[df_copy['Química'] == 0, 'Desqualificado'] = 1
#
df_desqualificados = df[ (df['Matemática'] == 0) |
                         (df['Física'] == 0) |
                         (df['Química'] == 0) ]

df_desqualificados.head(5)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%
3,10,7,3,4,0,0,8,32,35.56
6,6,0,7,7,5,0,4,29,32.22
10,10,8,3,2,1,7,0,31,34.44
12,20,8,3,7,1,0,3,42,46.67
14,7,11,1,7,1,4,0,31,34.44

In [7]:
# 2. Quantos são esses alunos?
df_desqualificados.index.nunique()

23

In [8]:
# 3. Qual a média desses alunos em história e geografia?
print(f'Média História: {df_desqualificados["História"].mean():.2}')
print(f'Média Geografia: {df_desqualificados["Geografia"].mean():.2}')

Média História: 3.4
Média Geografia: 3.2

In [9]:
# 4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.
#df_qualificados = df_copy[df_copy['Desqualificado'] == 0].copy()
#df_qualificados.head(5)

df_qualificados = df[ (df['Matemática'] != 0) &
                         (df['Física'] != 0) &
                         (df['Química'] != 0) ]
df_qualificados

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Total_Acertos_%
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
4,7,2,2,7,0,9,3,30,33.33
5,20,2,5,3,2,9,9,50,55.56
...,...,...,...,...,...,...,...,...,...
93,12,16,5,5,6,6,6,56,62.22
95,6,4,7,1,4,9,3,34,37.78
96,8,1,4,6,1,4,3,27,30.00
97,23,5,0,2,4,1,5,40,44.44
99,11,15,0,1,6,7,2,42,46.67

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [10]:
### O arquivo disponibilizado está offline
#arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'
#Acredito que seja esse mesmo arquivo, porém mais atualizado
#arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-d8bd2ba1-1bd9-41a3-b9e4-79e2108f87e1.c000.csv'

#arquivo = './registros de vacinacao covid ACRE.csv'
#Esse link até hoje (30/04/2022), está funcionando
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-7d05709a-1317-46c5-b532-3abe58cd4347.c000.csv'

In [11]:
# 1) Sua solução aqui

#Usei low_memory=False aqui, pois tinha bastante memória sobrando rsrs
vacAcre = pd.read_csv(arquivo, sep=';', low_memory=False)
vacAcre.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,4e15de2c-8226-4208-a510-a49398d202e9-i0b0,1cdfdf4bc68e515dcc74fe99bcbc7ee26eef857164df11...,15,2006-06-22,F,99,SEM INFORMACAO,120050,10,SENA MADUREIRA,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-11,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,303fbfd3-1ba0-4a84-be24-def7bad001cf-i0b0,a4745f3673f3137bf557317216e6740ab64c94cd9b4c58...,21,2000-01-11,M,4,AMARELA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FG3525,PFIZER,Organization/00394544000851,2021-11-16,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,3d829033-85bf-4e13-8b28-829702ed21a2-i0b0,c3ca47d5e936dc2bc00015b7defe86d995d2a67c8d0e23...,34,1987-05-12,M,4,AMARELA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FG3533,PFIZER,Organization/00394544000851,2021-10-28,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,30eb23e8-b6f1-49ff-8c0a-009ae8ca0f73-i0b0,ab032b6adc389b3f72849b3ce3ab71bd193558ca078ed4...,17,2004-03-15,F,3,PARDA,120030,10,FEIJO,...,2.0,Faixa Etária,FD7207,PFIZER,Organization/00394544000851,2021-08-24,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,d2940168-c8e5-46d7-80fe-0ffd6bcc685d-i0b0,f17a285f80984130d1b28847066ab45aa443264cacbe78...,52,1969-04-01,F,3,PARDA,120040,10,RIO BRANCO,...,1.0,Comorbidades,213VCD027Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-05-10,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [12]:
#vacAcre.index.nunique()
print(len(vacAcre))

#outra forma
print(vacAcre.shape[0])

463960
463960

In [13]:
# 2) 
vacAcre['paciente_id'].nunique()

370483

In [14]:
# 3) 
vacAcre.loc[vacAcre['vacina_descricao_dose'] == '1ª Dose', 'paciente_id'].nunique()

216407

In [15]:
# 3) solução alternativa
vacAcre_1dose = vacAcre[vacAcre['vacina_descricao_dose'] == '1ª Dose'].copy()
vacAcre_1dose['paciente_id'].nunique()

216407

In [16]:
# 4) 
vacAcre.loc[vacAcre['paciente_idade'] < 18, 'paciente_id'].nunique()

58732

In [17]:
# 5)
vacAcre['estalecimento_noFantasia'].nunique()

132

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [18]:
# 1) 
vacAcre_copy = vacAcre[vacAcre['paciente_idade'] < 18].copy()
vacAcre_copy.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,4e15de2c-8226-4208-a510-a49398d202e9-i0b0,1cdfdf4bc68e515dcc74fe99bcbc7ee26eef857164df11...,15,2006-06-22,F,99,SEM INFORMACAO,120050,10,SENA MADUREIRA,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-11,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,30eb23e8-b6f1-49ff-8c0a-009ae8ca0f73-i0b0,ab032b6adc389b3f72849b3ce3ab71bd193558ca078ed4...,17,2004-03-15,F,3,PARDA,120030,10,FEIJO,...,2.0,Faixa Etária,FD7207,PFIZER,Organization/00394544000851,2021-08-24,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
7,3136aa1d-026f-43bf-8eb0-ef8ab901e889-i0b0,1cafeccc5a4c7e529ac3e37dc41df5754c1066e7ab17ce...,13,2008-06-23,F,1,BRANCA,120042,10,RODRIGUES ALVES,...,2.0,Faixa Etária,FJ4184,PFIZER,Organization/28290,2022-01-05,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
20,ead404ab-64e4-42be-8590-1197cc0089ca-i0b0,53accc856f15dbe53a4bbe32a243fc6e3b771c10190e55...,14,2007-03-20,M,3,PARDA,120013,10,BUJARI,...,2.0,Faixa Etária,FD7209,PFIZER,Organization/00394544000851,2021-08-28,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
23,32a9033b-eb65-429f-a096-4fb2f368635a-i0b0,c0345bb774e3a0ce318db0dcb58141fc9e2867df67de51...,12,2009-04-06,F,4,AMARELA,120020,10,CRUZEIRO DO SUL,...,114.0,Outros,FA9096,PFIZER,Organization/00394544000851,2021-07-31,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [19]:
# 2) crie uma lista das colunas desse DataFrame com o atributo de DataFrame .columns()
lista_colunas = list(vacAcre_copy.columns)
lista_colunas

['document_id',
 'paciente_id',
 'paciente_idade',
 'paciente_dataNascimento',
 'paciente_enumSexoBiologico',
 'paciente_racaCor_codigo',
 'paciente_racaCor_valor',
 'paciente_endereco_coIbgeMunicipio',
 'paciente_endereco_coPais',
 'paciente_endereco_nmMunicipio',
 'paciente_endereco_nmPais',
 'paciente_endereco_uf',
 'paciente_endereco_cep',
 'paciente_nacionalidade_enumNacionalidade',
 'estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf',
 'vacina_grupoAtendimento_codigo',
 'vacina_grupoAtendimento_nome',
 'vacina_categoria_codigo',
 'vacina_categoria_nome',
 'vacina_lote',
 'vacina_fabricante_nome',
 'vacina_fabricante_referencia',
 'vacina_dataAplicacao',
 'vacina_descricao_dose',
 'vacina_codigo',
 'vacina_nome',
 'sistema_origem']

In [20]:
# 3) Nesse DataFrame faça uma contagem do campo vacina_categoria_nome.
vacAcre_copy['vacina_categoria_nome'].value_counts()

Faixa Etária                                      44115
Outros                                             5441
Povos Indígenas                                     926
Povos e Comunidades Tradicionais                    259
Trabalhadores de Saúde                              186
População Privada de Liberdade                       65
Comorbidades                                         31
Gestantes                                            23
Pessoas com Deficiência                               4
Puérperas                                             3
Trabalhadores Industriais                             1
Trabalhadores da Educação                             1
Pessoas de 60 anos ou mais institucionalizadas        1
Name: vacina_categoria_nome, dtype: int64

In [21]:
# 4) a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, 
#    faça uma lista com esses valores

lista_estabelecimento = []
for i in lista_colunas:
    # Achei um erro de digitacao em uma coluna
    if 'esta' in i and 'cimento' in i:
        lista_estabelecimento.append(i)
lista_estabelecimento

['estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [22]:
# 5)usando o método .loc, selecione somente essas variáveis
vacAcre_copy.loc[vacAcre_copy['paciente_idade'] < 18, lista_estabelecimento]

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
0,3541592,PREFEITURA MUNICIPAL DE SENA MADUREIRA,UNIDADE BASICA DE SAUDE MARIA DAS DORES DE PAULA,120050,SENA MADUREIRA,AC
3,3544915,PREFEITURA MUNICIPAL DE FEIJO,UNIDADE DE SAUDE DA FAMILIA DULCE DE ARAUJO AN...,120030,FEIJO,AC
7,2000571,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA FAMILIA GERALDO MAIA,120020,CRUZEIRO DO SUL,AC
20,2002876,SECRETARIA MUNCIPAL DE SAUDE,CENTRO DE SAUDE RAIMUNDA PORFIRIO DE BRITO RAMOS,120013,BUJARI,AC
23,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
...,...,...,...,...,...,...
463924,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
463926,5354072,PREFEITURA MUNICIPAL DE JORDAO,UNIDADE DE SAUDE DA FAMILIA ANTONIO RODRIGUES ...,120032,JORDAO,AC
463930,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
463934,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
463946,5354072,PREFEITURA MUNICIPAL DE JORDAO,UNIDADE DE SAUDE DA FAMILIA ANTONIO RODRIGUES ...,120032,JORDAO,AC

In [23]:
# 6) Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, 
#    com os dados do estabelecimento

## Separei ainda mais alguns valores,
#  pois estabelecimento_municipio_codigo e estabelecimento_municipio_nome seriam redundantes

lista_estabelecimento_selecionados = ['estabelecimento_razaoSocial',
                                      'estalecimento_noFantasia',
                                      'estabelecimento_municipio_nome',
                                      'estabelecimento_uf']

vacAcre_copy.loc[vacAcre_copy['paciente_idade'] < 18, lista_estabelecimento_selecionados].drop_duplicates()

,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_nome,estabelecimento_uf
0,PREFEITURA MUNICIPAL DE SENA MADUREIRA,UNIDADE BASICA DE SAUDE MARIA DAS DORES DE PAULA,SENA MADUREIRA,AC
3,PREFEITURA MUNICIPAL DE FEIJO,UNIDADE DE SAUDE DA FAMILIA DULCE DE ARAUJO AN...,FEIJO,AC
7,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA FAMILIA GERALDO MAIA,CRUZEIRO DO SUL,AC
20,SECRETARIA MUNCIPAL DE SAUDE,CENTRO DE SAUDE RAIMUNDA PORFIRIO DE BRITO RAMOS,BUJARI,AC
23,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,CRUZEIRO DO SUL,AC
...,...,...,...,...
18570,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,UNIDADE DE SAUDE DA FAMILIA ABEL PINHEIRO,CRUZEIRO DO SUL,AC
30488,MUNICIPIO DE MANCIO LIMA,UBS MARIA RODRIGUES DE MATOS,MANCIO LIMA,AC
31919,MINISTERIO DA SAUDE,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO PURUS,SENA MADUREIRA,AC
80491,PREFEITURA MUNICIPAL DE JORDAO,SAUDE DA FAMILIA RIBEIRINHA,JORDAO,AC
98957,SECRETARIA DE ESTADO DE SAUDE,HOSPITAL DA MULHER E DA CRIANCA DO JURUA,CRUZEIRO DO SUL,AC